<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use url_for to generate the correct path for the styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>StorysScape</title>
</head>

<body>
    <div class="headerLogo">
        <img src="{{ url_for('static', filename='components/StorysScape Logo.png') }}" alt="StorysScape Logo">
    </div>
    <div class="genres">
        <div class="genre">
            <a href="https://www.goodreads.com/genres/fantasy">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Fantasy</p>
            </a>
        </div>
        <div class="genre">
            <a href="https://www.goodreads.com/genres/science-fiction">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Science Fiction</p>
            </a>
        </div>
        <div class="genre">
            <a href="https://www.goodreads.com/genres/crime">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Crime Fiction</p>
            </a>
        </div>
        <div class="genre">
            <a href="https://goodreads.com/genres/historical">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Historical Novel</p>
            </a>
        </div>
        <div class="genre">
            <a href="https://www.goodreads.com/genres/horror">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Horror</p>
            </a>
        </div> 
        <div class="genre">
            <a href="https://www.goodreads.com/genres/thriller">
                <img src="{{ url_for('static', filename='components/Logo.png') }}" alt="Genre Logo">
                <p>Thriller</p>
            </a>
        </div>
    </div>
    <div class="input">
        <form action="/" method="post">
            <h2 class="inputHeader">Enter the Summary</h2>
            <textarea name="summary" class="summaryInput" rows="20" placeholder="Enter the summary here">{{ summary }}</textarea>
            <button type="submit" class="submit">Predict</button>
        </form>
        

        {% if showresult %}
            <div class="output">
                <p class="outputText">Predicted Genre for the summary:</p>
                <p class="genre">{{ genre }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
