<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./styles.css">
    <title>StorysScape</title>
</head>

<body>
    <div class="headerLogo">
        <img src="./components/StorysScape Logo.png" alt="">
    </div>
    <div class="genres">
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Fantasy</p>
            </a>
        </div>
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Science Fiction</p>
            </a>
        </div>
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Crime Fiction</p>
            </a>
        </div>
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Historical Nove</p>
            </a>
        </div>
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Horror</p>
            </a>
        </div> 
        <div class="genre">
            <a href="">
                <img src="./components/Logo.png" alt="">
                <p>Thriller</p>
            </a>
        </div>
    </div>
    <div class="input">
        <form action="/" method="post">
            <h2 class="inputHeader">Enter the Summary</h2>
            <textarea name="summaryInput" id="" class="summaryInput" rows="10" cols="80" placeholder="Enter the summary here"></textarea>
            <button type="submit" class="submit">Predict</button>
        </form>

        {%if showresult%}
            <div class="output">
                <p class="outputText">Predicted Genre for the summary:</p>
                <p class="genre">{{genre}}</p>
            </div>
        {%end if%}
    </div>
</body>
</html>