<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form action="/sentiment" method="post">
        <label for="text">Enter Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <button type="submit">Analyze</button>
    </form>

    {% if showresult %}
        <h2>Text:</h2>
        <p>{{ text }}</p>
        <h2>Sentiment:</h2>
        <p>{{ sentiment }}</p>
    {% endif %}
</body>
</html>
